{
    "parserOptions": {
        "ecmaVersion": "latest"
    },
    "rules": {
        "semi": "warn",
        "capitalized-comments": "warn",
        "arrow-spacing": "warn",
        "space-in-parens": "warn"
    }
}